<div class="buttons">
    <div class="d-flex flex-row justify-content-between mb-2">
        <div class="d-flex justify-content-around">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Filters</button>
                    <div class="dropdown-menu">
                        <a ng-click="issues.addToFilter('author:')" class="dropdown-item" >By Author (author:authorname)</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a ng-click="issues.addToFilter('is:issue state:')" class="dropdown-item" >Issues State (state:statename)</a>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" ng-model="issues.filters"
                        ng-enter="issues.filterResults()" placeholder="Search for...">
                </div>

            </div>
            <button class="btn btn-primary mx-1" ng-click="issues.filterIssues('open')">Clear</button>
        </div>
        <div class="d-flex">
            <button class="btn btn-success" ng-click="go('/postIssue')">New Issue</button>
        </div>
    </div>
</div>
<div class="issues" ng-if="show === 'issues' && dataMessage===''">
    <!-- <div class="header">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a  ng-click="issues.filterIssues('open');issues.addToFilter('is:issue state:open')" ng-class="{ 'state_class': issues.issue_state==='open'}"><i uk-icon="icon: warning"></i>&nbsp;Open</a></li>
                    <li><a  ng-click="issues.filterIssues('closed');issues.addToFilter('is:issue state:closed')" ng-class="{ 'state_class': issues.issue_state==='closed'}"><i uk-icon="icon: check"></i>&nbsp;Closed</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a  ng-click="getLabelsInList()"><span uk-icon="icon: triangle-down">Labels</span></a>
                        <div uk-dropdown="mode: click" ng-style="{'max-height': '200px', 'overflow-y': 'scroll'}">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active" ng-repeat="label in list.labels">
                                    <a  ng-click="issues.getIssuesByLabel(label.name)"><span ng-style="{'background-color': '#'+label.color, 'display': 'inline-block', 'width': '20px', 'margin': '0 10px'}">&nbsp;</span>{{label.name}}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a  ng-click="getMilestonesInList()"><span uk-icon="icon: triangle-down">Milestones</span></a>
                        <div uk-dropdown="mode: click" ng-style="{'max-height': '300px', 'overflow-y': 'scroll'}">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active" ng-repeat="milestone in list.milestones">
                                    <a  ng-click="issues.getIssuesByLabel(label.name)">{{milestone.title}}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div> -->
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between my-2">
            <div class="d-flex justify-content-between">
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn btn-outline-secondary" ng-click="issues.filterIssues('open');issues.addToFilter('is:issue state:open')"
                        ng-class="{ 'btn-active': issues.issue_state==='open'}">Open</button>
                    <button class="btn btn-outline-secondary" ng-click="issues.filterIssues('closed');issues.addToFilter('is:issue state:closed')"
                        ng-class="{ 'btn-active': issues.issue_state==='closed'}">Closed</button>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="btn-group" data-toggle="buttons">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" ng-click="getLabelsInList()">Labels</button>
                        <div class="dropdown-menu scrollable-menu">
                            <a  ng-repeat="label in list.labels" class="dropdown-item" ng-click="issues.getIssuesByLabel(label.name)"><span ng-style="{'background-color': '#'+label.color, 'display': 'inline-block', 'width': '20px', 'margin': '0 10px'}">&nbsp;</span>{{label.name}}</a>
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" ng-click="getMilestonesInList()">Milestones</button>
                        <div class="dropdown-menu">
                            <a  ng-repeat="milestone in list.milestones" class="dropdown-item" ng-click="issues.getIssuesByLabel(label.name)">{{milestone.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead>

            </thead>
            <tbody>
                <tr ng-repeat="issue in showData">
                    <td class="align-middle">
                        <span title='Open Issue' ng-if="issue.state==='closed'">
                                    <svg class="" height="16" version="1.1" viewBox="0 0 16 16" width="16" style="color: #cb2431; fill: currentColor;"><path fill-rule="evenodd" d="M7 10h2v2H7v-2zm2-6H7v5h2V4zm1.5 1.5l-1 1L12 9l4-4.5-1-1L12 7l-1.5-1.5zM8 13.7A5.71 5.71 0 0 1 2.3 8c0-3.14 2.56-5.7 5.7-5.7 1.83 0 3.45.88 4.5 2.2l.92-.92A6.947 6.947 0 0 0 8 1C4.14 1 1 4.14 1 8s3.14 7 7 7 7-3.14 7-7l-1.52 1.52c-.66 2.41-2.86 4.19-5.48 4.19v-.01z"></path></svg>
                                </span>
                        <span title='Open Issue' ng-if="issue.state==='open'">
                                    <svg class="" height="16" version="1.1" viewBox="0 0 14 16" width="14" style="color: #28a745; fill: currentColor;"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
                                </span>
                    </td>
                    <td class="uk-table-link">
                        <div><a class="font-weight-bold" ng-click="issues.getComments(issue.number)">{{issue.title}}</a>
                            <a class="badge mr-1" ng-click="issues.getIssuesByLabel(label.name)" ng-repeat="label in issue.labels" style="background-color: #{{label.color}};"
                                ng-style="invertColor(label.color)" title="Label: {{label.name}}">{{label.name}}</a>
                        </div>
                        <span class="uk-text-small">#{{issue.number}} opened by <a  ng-click="issues.addToFilter('author:' + issue.user.login);issues.filterResults()">{{issue.user.login}}</a> {{issue.created_at | amTimeAgo}}</span>
                    </td>
                    <td class="uk-text-nowrap">
                        <a href={{issue.html_url}} class="uk-text-small">
                                <img alt="Embedded Image" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTksMjJBMSwxIDAgMCwxIDgsMjFWMThINEEyLDIgMCAwLDEgMiwxNlY0QzIsMi44OSAyLjksMiA0LDJIMjBBMiwyIDAgMCwxIDIyLDRWMTZBMiwyIDAgMCwxIDIwLDE4SDEzLjlMMTAuMiwyMS43MUMxMCwyMS45IDkuNzUsMjIgOS41LDIyVjIySDlNMTAsMTZWMTkuMDhMMTMuMDgsMTZIMjBWNEg0VjE2SDEwWiIgLz48L3N2Zz4=" />&nbsp;{{issue.comments}}</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination justify-content-between">
                <li class="page-item" ng-class="issues.page === 1 ? 'disabled' : ''">
                    <a class="page-link"  tabindex="-1" ng-click="issues.nextIssues(false)">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link"  tabindex="-1" ng-click="issues.nextIssues(true)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- <div class="label_div" ng-if="show === 'labels' && dataMessage===''">
    <div class="header">
    </div>
    <div class="labels">
        <div ng-repeat="label in showData" ng-click="issues.getIssuesByLabel(label.name)" style="background-color: #{{label.color}};">
            <a class="uk-text-small" ng-style="invertColor(label.color)" title="Label: {{label.name}}">{{label.name}}</a>
        </div>
    </div>
</div>

<div class="label_div" ng-if="show === 'milestones' && dataMessage===''">
    <div class="header">
        <nav class="uk-navbar-container" uk-navbar>
            <ul class="uk-navbar-nav">
                <li><a  ng-click="getMilestones('open')" ng-class="{ 'state_class': issues.issue_state==='open'}"><i uk-icon="icon: warning"></i>&nbsp;Open</a></li>
                <li><a  ng-click="getMilestones('closed')" ng-class="{ 'state_class': issues.issue_state==='closed'}"><i uk-icon="icon: check"></i>&nbsp;Closed</a></li>
            </ul>
        </nav>
    </div>
    <div class="milestone">
        <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
            <tbody>
                <tr ng-repeat="milestone in showData" ng-click="issues.getIssuesByMilestone(label.name)">
                    <td>
                        <a href="" class="uk-text-lead">{{milestone.title}}</a>
                        <div class="details">
                            <a href="">{{milestone.state==='closed' ? milestone.closed_at : 'No Due Date' | timechange}}</a>
                            <a href=""><i uk-icon="icon: clock"></i>&nbsp;Last updated {{milestone.updated_at | amTimeAgo}}</a>
                        </div>
                    </td>
                    <td class="uk-table-link">
                        <progress id="progressbar" class="uk-progress" value={{milestone.closed_issues}} max={{milestone.open_issues}}></progress>
                        <div class="details">
                            <a href="">{{milestone.open_issues !== 0 ? milestone.closed_issues / milestone.open_issues * 100 : 100 | number:0}}% complete</a>
                            <a href="">{{milestone.open_issues}} open</a>
                            <a href="">{{milestone.closed_issues}} closed</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
<div ng-if="dataMessage!==''">
    {{dataMessage}}
</div>
<modal id="custom-modal-1">
        <div class="modal">
                <img src="ball-triangle.svg" alt="">
        </div>
        <div class="modal-background"></div>
    </modal>